
<div class="container mt-3">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Anbu Messaging</h1>
    <p class="lead">This is a messaging platform where you can talk with your friends</p>
    <p>Sign up and start posting today!</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign up!</a>
    </p>
  </div>
</div>